[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

apipkg = "==1.4"
astroid = "==1.5.3"
"beautifulsoup4" = "==4.5.3"
bleach = "==3.3.0"
blessings = "==1.6"
click = "==6.7"
codacy-coverage = "==1.3.6"
codecov = "==2.0.5"
coverage = "==4.3.4"
curtsies = "==0.2.11"
Cycler = "==0.10.0"
decorator = "==4.0.11"
entrypoints = "==0.2.2"
execnet = "==1.4.1"
extras = "==1.0.0"
ffmpy = "==0.2.2"
ffprobe = "==0.5"
fixtures = "==3.0.0"
fuzzywuzzy = "==0.15.0"
greenlet = "==0.4.12"
"html5lib" = "==0.9999999"
ipykernel = "==4.5.2"
ipython = "==5.1.0"
ipython_genutils = "==0.1.0"
ipywidgets = "==5.2.2"
isort = "==4.2.15"
"Jinja2" = "==2.11.3"
jsonschema = "==2.5.1"
jupyter = "==1.0.0"
jupyter_client = "==4.4.0"
jupyter_console = "==5.0.0"
jupyter_core = "==4.2.1"
lazy-object-proxy = "==1.3.1"
lettuce = "==0.2.23"
"linecache2" = "==1.0.0"
MarkupSafe = "==0.23"
matplotlib = "==2.0.0"
mccabe = "==0.6.1"
mistune = "==0.8.1"
mock = "==2.0.0"
nbconvert = "==5.0.0"
nbformat = "==4.2.0"
notebook = "==4.3.1"
numpy = "==1.12.0"
pandas = "==0.19.2"
pandocfilters = "==1.4.1"
parse = "==1.8.0"
parse_type = "==0.3.4"
pbr = "==2.0.0"
pexpect = "==4.2.1"
pickleshare = "==0.7.4"
prompt_toolkit = "==1.0.9"
ptyprocess = "==0.5.1"
py = "==1.10.0"
Pygments = "==2.7.4"
pylint = "==1.7.1"
pyparsing = "==2.1.10"
pytest = "==3.0.5"
pytest-cache = "==1.0"
python-dateutil = "==2.6.0"
python-mimeparse = "==1.6.0"
python-subunit = "==1.2.0"
pytz = "==2016.10"
pyzmq = "==16.0.2"
qtconsole = "==4.2.1"
requests = "==2.20.0"
Rx = "==1.5.9"
RXPY = "==0.1.0"
scikit-learn = "==0.19.1"
simplegeneric = "==0.8.1"
sure = "==1.4.1"
terminado = "==0.6"
testpath = "==0.3"
testtools = "==2.2.0"
tornado = "==4.4.2"
"traceback2" = "==1.4.0"
traitlets = "==4.3.1"
"unittest2" = "==1.1.0"
wcwidth = "==0.1.7"
widgetsnbextension = "==1.2.6"
wrapt = "==1.10.10"


[requires]

python_version = "3.8"
