adium-theme-ubuntu==0.3.4
beautifulsoup4==4.4.1
chardet==2.3.0
configobj==5.0.6
configparser==3.3.0.post2
cryptography==1.2.3
enum34==1.1.2
html5lib==0.999
idna==2.0
ipaddress==1.0.16
lockfile==0.12.2
lxml==3.5.0
ndg-httpsclient==0.4.0
Pillow==3.1.2
pyasn1==0.1.9
pycurl==7.43.0
pygobject==3.20.0
pyOpenSSL==0.15.1
python-firebase==1.2
requests==2.9.1
six==1.10.0
unity-lens-photos==1.0
urllib3==1.13.1
variety==0.6.2
variety-slideshow==0.1
vboxapi==1.0
virtualenv==15.0.3
